:root {
  --bg-color: rgb(240, 168, 222);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

.container {
  width: 350px;
  background-color: rgb(253, 236, 251);
  margin: 150px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 15px;
}

.faq-question {
  position: relative;
  cursor: pointer;
  padding: 15px;
}

.faq-question::after{
    content: "+";
    position: absolute;
    right: 15px;
    font-size: 16px;
    color: rgb(245, 113, 201);
    font-weight: bolder;
}

.faq-items{
    border-bottom: 1px solid var(--bg-color);
}

.faq-items.active .faq-question::after {
  content: "-";
  opacity: 0.4;
}

.faq-answer{
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    color: #555;
    transition: height 0.25s ease;
}

.faq-items.active .faq-answer{
    max-height: 200px;
    padding-bottom: 15px;
}